.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
font-family: 'Kanit'!important;
}
body{
    margin: 0;
    width: 100%;
    background-color: #FFFAF7;
}

.head{
    height: 76px;
    margin: 0px;
    padding: 24px 0px 0px 10px;
}

.icon, .icon2{
    background-color: #D6BEDC;
    border-radius: 100px;
    /* margin-left: 50px; */
    margin-top: 100px;
}

.text{
    font-size: 30px;
}